:root {
    --main-bg-color: #0D0D0D;
    --main-color: #f9f6f6;
}

body {
    background-color: var(--main-bg-color);
    color: #f9f6f6 !important;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: var(--main-color);
}

.pointer {
    cursor: pointer;
}

h2,
h3 {
    text-transform: capitalize;
}

/* loading screen */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
    color: #fff;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
}
/* .spinner-border {
    width: 5%;
    height: 5%;
    aspect-ratio: 1/1;
} */
.show{
  height: 100vh;
  display: flex;
  z-index: 99;
  background-color:transparent;
}
.hidden{
    display: none;
    height: 0;
}
/*.innerLoading{
    display: none;
    /* height: 100vh; 
    position: relative;
    z-index: 99;
    background-color: red;
    /* top: 0;
    left: 0;
   
    position:absolute;
    background-color: transparent;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;    */




@keyframes mulShdSpin {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em,
            2em -2em 0 0em, 3em 0 0 -1em,
            2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
            3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em,
            2em -2em 0 0, 3em 0 0 0.2em,
            2em 2em 0 0, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
            -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
            -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
            -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
            3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

/* side Navbar */
.sideNav {
    z-index: 999;
}

.nav-content {
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--main-bg-color);
    display: none;
}
.nav-links ul{
    overflow: hidden;
}
.nav-links li{
    position: relative;
    top: 300px;
    transition: top 0.3s;
}
.nav-links li.show{
    top:0;
}
.nav-header {
    background-color: var(--main-color);
}

/* logo */
.logo {
    width: 50px;
}
/*  Search Section */
#rowSearch input{
    background-color: transparent;
}
#rowSearch input::placeholder{
    color: #6C757D;
}
/* category section */
.category-img {
    overflow: hidden;
    transition: all 0.3s ease;
}

.category-img:hover .OverLayerMeal {
    height: 100%;
    padding: 8px;
}

.OverLayerMeal {
    width: 100%;
    height: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #f9f6f6ca;
    transition: height 0.5s ease;
    overflow: hidden;
}

/*meal instruction section*/
.recipes-list {
    margin-bottom: 16px;
}

.recipes-list li {
    padding: 4px;
    margin: 8px;
}
/* Area Section */
.area-icon{
    font-size: 4rem;
}
/* contact section  */
input{
    transition: all 0.3s ease;
}
.contact{
    text-align: center;
}
.submit{
    vertical-align: middle;
}
.invalid-feedback{
    padding: 8px;
}